ul{
    li{
        color: red;
        font-size: 10px;
    }
}

.one{
    color: red;
    .two{
        color: green;
    }
}

.two{
    color: green;
    .three{
        color: blue;
    }
    .four{
        color: black;
    }
}